/* Styles for Navbar */
*{
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: black;
  color: white; 
  padding: 2px; 
  display: flex;
  height: 50px;
  min-width: 100vw;
  position: fixed;
  align-items: center;
}
/* .navbar ul{
  overflow: auto;
} */
.navbar li{
  margin: 5px;
   float: left;
   list-style: none;
}
.navbar a{
   text-decoration: none;
   color: white;
   margin: 10px 10px;
}

/* Styles for the background image */
.bg-image{
  margin: 0; 
  padding: 0; 
  background-image: url('./img/man-working-office-with-holograms-cityscape\ 1.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}


/* Register Form */
.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the container height to fill the viewport height */


}

/* Navword */

#navword{
font-family: 'Courier New', Courier, monospace;
}

/* Heading */
.heading{
  margin-top: -5px;
  background-image: url('./img/Page-1.png');
  width: 151.56px;
  height: 23.21px;
  margin:10px;
}
.ul{
  padding-left: 50px;
}

/* button */
#bg-button{
  /* width: 300px;
  height:  55px; */
  padding: 16px, 24px, 16px, 24px;
  border-radius: 38px;
  gap: 10px;
  background-color: #F74542;
}

/* card */
.card{
  margin:0 auto;
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 8px;
}